body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

}


* {
  box-sizing: border-box;

}

.App {
  width: 100vw;
  height: 100%;
  background-color: rgb(75, 75, 75);
}

.title_h1 {
  padding: 0;
  margin: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topbar ul {
  background-color: rgb(100, 100, 100);
  margin: 0;
  height: 5vh;
  display: flex;
  align-items: center;
  list-style: none;
}

.formHolder {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100vw;
  height: 82vh;
  justify-content: center;
  background-color: #ccc;
}

.my_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f5f3f3;
  width: 27vw;
  align-content: center;
  padding: 2rem;
  border: 5px solid #aeacac;

}

.my_form input {
  margin: .7rem 0;
  padding: .5rem;
  background-color: rgb(230, 230, 230);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.721);
  font-size: 1rem;
  width: 20vw;
  border: none;

}

li a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 5px black;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(254, 133, 4);
}

.submit_btn {
  margin-top: 1rem;
  padding: .7rem;
  border: none;
  background-color: rgb(158, 157, 157);
  box-shadow: 2px 2px 5px black;
  color: rgb(253, 251, 247);
  text-shadow: 1px 2px 2px black;
  font-weight: 900;
  font-size: 1rem;
  transition: all .2s ease-in-out;
  border-radius: 10px;
}

.submit_btn:active {
  background-color: rgb(118, 180, 204);
  transform: scale(1.1);
}

.passValidationScreen {
  width: fit-content;
  height: fit-content;
  font-size: .9rem;
  margin-top: 12%;
  background-color: rgb(255, 249, 238);
  white-space: break-spaces;
  padding: .5rem;
}

button {
  cursor: pointer;
}

.btn_right {
  float: right;
  margin-right: 2%;
}

.modal_holder {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.886);
  width: 100vw;
  height: 100vh;
  top: 0;

}

.modal {
  background-color: #aeacac;
  height: 80%;
  width: 80%;
  padding: 2% 4%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  overflow-x: hidden;
  border: 10px solid rgb(144, 143, 143);
  border-radius: 10px;
}

.img_modal {
  width: 70%;
  margin: 0 17%;
  border-radius: 10px;
}

.subtitle_modal {
  color: rgb(69, 69, 69);
  /* margin-left:; */
  text-align: justify;
}

.brief_news {
  font-size: 1.4rem;
}

.title {
  font-family: 'open sans', 'sans-serif';
  font-size: 1.5rem;
  background-color: rgb(75, 75, 75);
  text-align: center;
  color: #dddddd;
  text-shadow: 5px 5px 10px rgb(10, 10, 10);

}

.largeSlideHolder {
  display: flex;
  height: 50%;
  width: 100vw;
  margin: 3rem 0;
  justify-content: center;
  align-content: center;
}

.largeSlide {
  width: 90%;
  background-color: rgb(129, 128, 128);
  height: fit-content;
  border: .3rem solid rgb(79, 67, 67);
  box-shadow: 0rem 0rem .4rem .5rem rgb(131, 131, 131);
  padding: 2rem;
}

.largeSlide_Pic {
  width: 50%;
  border: .4rem solid rgb(131, 131, 131);
  box-shadow: 0rem 0rem .4rem .5rem rgb(79, 67, 67);

  float: left;
  margin: 3rem;
}



.miniSlidesHolder {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
}

.miniSlide {
  background-color: rgb(129, 128, 128);
  width: 30vw;
  height: 70vh;
  margin: 1rem;
  border: .3rem solid rgb(194, 193, 193);
  box-shadow: 0rem 0rem .4rem .5rem rgb(131, 131, 131);
  padding: .1rem .7rem;
  display: flex;
  flex-wrap: wrap;
}

.miniSlide:hover
{  
  border: .4rem solid #414141;
  box-shadow: 0rem 0rem .4rem .4rem #ffffff;
  transform: scale(1.05);
}

.mini_Slide_Pic {
  width: 90%;
  height: 50%;
  margin: 0 5%;
  border: .4rem solid rgb(131, 131, 131);
  box-shadow: 0rem 0rem .4rem .5rem rgb(79, 67, 67);
}

.mini_slide_btn {
  background-color: transparent;
  border: none;
}

.dataTableHolder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #878787;
}

.dataTable {
  background-color: rgb(170, 169, 169);
  width: 90%;
  height: 60vh;
  margin: 5% 5%;
  overflow-y:auto;  
}

/* .dataTable::-webkit-scrollbar
{
  display: none;
} */

.pic_overflowController
{
  overflow: auto;
  max-Width:10vw;
}

.fontSizeSetter
{
  /* overflow: auto; */
  /* height: 200px !important; */
  /* background-color: red; */
  text-align: justify;
  font-size: .7rem !important;
}

.tableHead
{
  font-size: 1rem !important;
  font-weight: 900 !important;
  color: white !important;
  text-shadow: 1px 1px 5px black;
  background-color: rgb(75, 75, 75);
  text-align: center !important;
}

.fixedHeader
{
  position: fixed;
}

.paginationPosFixer
{
  position: fixed;
  top:27%;
  right:0;
  background-color: white; 
  
}

.serchbarPosFixer
{
  position: fixed;
  top:25%;
  right:auto  
}




.login_btn_typeBlock
{
  display: block;
}



@media only screen and (max-width: 1000px) {
  
  .my_form
  {
    width: 70vw;
    align-items: center;
  }
  .my_form input
    {
      width: 45vw;
    }

    .miniSlide
    {
      width: 100vw;
    }

}
